<main>
  <h1>Listes des articles</h1>
  <div class="content">
    <nav>
      <button>Raffraichir</button>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <td class="name">Nom</td>
          <td class="price">Prix</td>
          <td class="qty">Quantité</td>
        </tr>
      </thead>
      <tbody>
        <tr class="selected">
          <td class="name">Marteau</td>
          <td class="price">7.5 E</td>
          <td class="qty">18</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.5 E</td>
          <td class="qty">25</td>
        </tr>
        <tr>
          <td class="name">Scie</td>
          <td class="price">10 E</td>
          <td class="qty">10</td>
        </tr>
        <tr>
          <td class="name">Perceuse</td>
          <td class="price">22.5 E</td>
          <td class="qty">18</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
