<main>
  <h1>Listes des articles</h1>
  <div class="content">
    <nav>
      <button>Raffraichir</button>
      <button routerLink="add">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <td class="name">Nom</td>
          <td class="price">Prix</td>
          <td class="qty">Quantité</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of articles" class="selected">
          <td class="name">{{ a.name }}</td>
          <td class="price">{{ a.price }}</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
