<main>
  <h1>Ajouter un Article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input
        type="text"
        formControlName="name"
        placeholder="Ex:Trounevis"
        appAutoFocus
      />
    </label>
    <label>
      <div>Prix</div>
      <input type="number" step="0.01" min="0" formControlName="price" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="text" formControlName="qty" />
    </label>
    <button class="primary">
      <fa-icon
        [icon]="isAdding ? faSpinner : faPlus"
        [spin]="isAdding"
      ></fa-icon>
      Ajouter
    </button>
  </form>

  {{ f.value | json }}
</main>
