button {
  padding: 0.5em 1em;

  border: 0.1em solid #eee;
  background-color: #eee;
  border-radius: $border-radius;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: #ddd;
      background-color: #ddd;
    }
    &:active {
      border-color: #ccc;
      background-color: #ccc;
    }

    &.primary {
      color: #fff;
      border-color: #000;
      background-color: #000;
    }
  }
}
